<html>
	<head>
		<title>PICOM Setup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	</head>
	<body>
		<form action="/" method="POST">
			<label for="red">WLAN Name
				<input type="input" name="ssid" value="{{ .ssid }}">
			</label>

			<label for="red">Passwort
				<input type="input" name="password" value="{{ .password }}">
			</label>

			<input type="submit">
	</form>
	</body>
</html>
